web/WEB-INF/wsit-Demo.UserWs.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UserWs" targetNamespace="http://Demo/" xmlns:tns="http://Demo/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="SignUp"/>
    <message name="SignUpResponse"/>
    <message name="Login"/>
    <message name="LoginResponse"/>
    <message name="addFriend"/>
    <message name="addFriendResponse"/>
    <portType name="UserWs">
        <operation name="SignUp">
            <input message="tns:SignUp"/>
            <output message="tns:SignUpResponse"/>
        </operation>
        <operation name="Login">
            <input message="tns:Login"/>
            <output message="tns:LoginResponse"/>
        </operation>
        <operation name="addFriend">
            <input message="tns:addFriend"/>
            <output message="tns:addFriendResponse"/>
        </operation>
    </portType>
    <binding name="UserWsPortBinding" type="tns:UserWs">
        <operation name="SignUp">
            <input></input>
            <output></output>
        </operation>
        <operation name="Login">
            <input></input>
            <output></output>
        </operation>
        <operation name="addFriend">
            <input></input>
            <output></output>
        </operation>
    </binding>
    <service name="UserWs">
        <port name="UserWsPort" binding="tns:UserWsPortBinding"/>
    </service>
</definitions>
